body {
  font-family: 'Abel', sans-serif;
  background-color: rgb(144 163 173);
}

li {
  list-style: none;
  font-size: 20px;
}

p{
  font-size: 20px;
}

h1 {
  padding: 20px;
  color: white;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

h2, h3{
  color: rgb(14 20 27);
  /* background-color: rgba(144, 163, 173, 0.41);
  border-radius: 60%; */
}

h2{
  font-size: 75px;
}

h3{
  font-size: 50px;
}

a{
  color: #cec9c8;
}

.floor {
  margin-top: 74px;
  padding: 40px 10px 250px 10px;
  background-color: rgb(146 157 110);
  text-align: center;
  border-radius: 10%;
  color: rgb(14 20 27);
  border: 5px solid rgb(181 181 178);
}

#groundfloor p {
  font-size: 1.7em;
}

#firstfloor p{
  text-align: center;
  border-radius: 5%;
}

.image{
  border-radius: 10%;
  border: 1px solid rgb(181 181 178);
}

#kj_image{
  border-radius: 40%;
}

#codecademy{
/* background-image: url(../kj-develops.github.io/Graphics/git_progress.jpg); */
  /* background-size: contain; */
  height: 150px;
  /* border-radius: 20%; */
  text-align: center;
  /* position: relative; */
}

#codecademy img{
  filter: blur(8px);
}

#text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-shadow: 6px 2px rgb(181 181 178); */
  background-color: transparent;
}

.toplist{
  font-weight: bold;
  font-size: 20px;
}

.leftlist{
  text-align: left;
}
