body {
  font-family: 'Abel', sans-serif;
  background-color: rgb(249 131 135);
}

li {
  list-style: none;
}

h1 {
  padding: 20px;
  color: white;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.meetngreet {
  margin-top: 74px;
  padding: 40px 0 100px 0;
  background-color: rgb(221 90 102);
  text-align: center;
}